## 1. Importing the libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

## 2. Load the dataset

In [2]:
df = pd.read_csv(r"data.csv")

## 3. Summarize the data

In [3]:
df.shape

(201, 4)

In [4]:
df.head(5)

   hours  age  internet  marks
0   6.83   15         1  78.50
1   6.56   16         0  76.74
2    NaN   17         1  78.68
3   5.67   18         0  71.82
4   8.67   19         1  84.19

## 4. Finding and removing Null Values from features

In [5]:
# to check null values
# df.isnull()  
df.columns[df.isna().any()]

Index(['hours'], dtype='object')

In [6]:
# filling Nan values by mean of that particular feature
df.hours = df.hours.fillna(df.hours.mean())

In [7]:
df.head(5)

      hours  age  internet  marks
0  6.830000   15         1  78.50
1  6.560000   16         0  76.74
2  6.981429   17         1  78.68
3  5.670000   18         0  71.82
4  8.670000   19         1  84.19

## 5. Segregate Dataset into Input X and Ouput Y

In [8]:
X = df.iloc[:,:-1].values
X.shape

(201, 3)

In [9]:
Y = df.iloc[:,-1].values
Y.shape

(201,)

## 6. Training Dataset using Linear Regression

In [10]:
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

## 7. Predicted Marks for custom Values

In [11]:
values = [[8.67,19,1]]
PredictedModelResult = model.predict(values)
print(PredictedModelResult)

[84.25087518]